/* for this exercise I chose that interesting example by Jesse Lonergan - Hedra - page 25.jpg.
 I looked at the E1 advanced example HTML provided to get an understanding of how I could organise my shapes in rows.
I spent a very very long time changing the borders, starting with a very messy inline style:  for specific <div>s 
and then moved towards using some custom css variables. These were hard to get my head around but useful, I found myself 
trying to use a single custom variable to hold various different properties but later found it's best used for general stuff.

To match the example, Hedra, I started off with 4 rows of 4 squares. Then I changed the border radius to make it have a rounded corner. 
I also manipulated which sides of each square had borders, this was somewhat tedius because I had to re - ID a lot of divs. Everything was 
very specific and perfect putting the specifics in inline style: and having broader stuff external; however, i understand it's 
better to try and be organised and do things fully externally if possbile. I think I re-organised quite well.

Finally, I went through to find redundant properties that I can just put in or already have in the next biggest container. E.g. having 
justify-content: center in each row when I could just give that property to the class as a whole. 
 */

:root {
  --segborder: 2px solid rgb(74, 236, 160);
  --segment-fill: rgb(196, 185, 228);
}

.wrapper{ 
  display: flex;
  flex-direction:column;
  background-image: linear-gradient(to bottom, #8d8dcb, #1f909b);
  height: 100vh;
  width: 71vh;
  padding: 20px;
  justify-content: center;
}

body {
    margin: 0;
    display:flex;
    justify-content: center;
}

.row{
  justify-content: center;
}

#row1, .row {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    gap: 1.25vh;
    margin: 0.5vh;
  }

#row2, .row {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin: 0.5vh;  
  }


#row3, .row {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin: 0.5vh;  
  }


#row4, .row {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin: 0.5vh;  
  }

#topleftcurve {
border-top-left-radius: 60px;
    border-top: var(--segborder);
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
      );
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: right bottom;
}

#toprightcurve 
  {
    border-top-right-radius: 60px; 
    border-top: var(--segborder);
    background-image: linear-gradient(
      to bottom left,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
      );
      background-size: 48px 50px;
      background-repeat: no-repeat;
      background-position: left bottom;
  }


#bottomleftcurve {
  border-bottom-left-radius: 60px;
  border-bottom: var(--segborder);
  background-image: linear-gradient(
      to bottom left,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
      );
}

#bottomrightcurve {
    border-bottom-right-radius: 60px; 
    border-bottom: var(--segborder);
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 0, 0.5),
      rgba(0, 0, 255, 0.5)
      );
    
}

#blockl {
  border-left: var(--segborder);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
    );
    background-size: 50px 80px;
  background-repeat: no-repeat;
  background-position: right;
}

#blocklt {
  border-left: var(--segborder); 
  border-top: var(--segborder);
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: right bottom;


}

#blockr {
  border-right: var(--segborder) ; 
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.502)
    );  
  background-size: 50px 80px;
  background-repeat: no-repeat;
}

#blocklb {
  border-left: var(--segborder); 
  border-bottom: var(--segborder);
  border-right: var(--segborder); 
  background-image: linear-gradient(
    to top right,
    rgba(255, 255, 0, 0.5),
    rgba(0, 25, 255, 0.5)
    );
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right top;
}

#blockbr {
  border-left: var(--segborder); 
  border-bottom: var(--segborder);
  border-right: var(--segborder); 
  background-image: linear-gradient(
    to top left,
    rgba(255, 255, 0, 0.5),
    rgba(0, 25, 255, 0.5)
    );
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: left top;
}

.segment {
height: 80px;
width: 80px;
background-color: var(--segment-fill);
}